# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment folders (if any)
venv/
env/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Node modules (if you have any in rag-frontend)
rag-frontend/node_modules/

# Ignore environment variable files
.env

# Ignore Streamlit secrets file to keep your API key secure
rag-streamlit/.streamlit/secrets.toml
